<DOCUMENT>
<TYPE>EX-4.5
<SEQUENCE>2
<FILENAME>y74655exv4w5.txt
<DESCRIPTION>EX-4.5: FIFTH SUPPLEMENTAL INDENTURE
<TEXT>
<PAGE>

                                                                     EXHIBIT 4.5

                                 METLIFE, INC.,
                                     ISSUER

                                       AND

                J.P. MORGAN TRUST COMPANY, NATIONAL ASSOCIATION,
                 (AS SUCCESSOR TO BANK ONE TRUST COMPANY, N.A.)
                                     TRUSTEE

                               ------------------

                          FIFTH SUPPLEMENTAL INDENTURE

                          DATED AS OF NOVEMBER 21, 2003

                               ------------------

                                  $200,000,000

                               5.875% SENIOR NOTES

                              DUE NOVEMBER 21, 2033

<PAGE>

                              TABLE OF CONTENTS(1)

                                    ARTICLE I

                    5.875% SENIOR NOTES DUE NOVEMBER 21, 2033

<TABLE>
<CAPTION>
                                                                                      PAGE
                                                                                      ----
<S>                                                                                   <C>
SECTION 1.01     Establishment..................................................        3
SECTION 1.02     Definitions....................................................        4
SECTION 1.03     Payment of Principal and Interest..............................        5
SECTION 1.04     Denominations..................................................        5
SECTION 1.05     Global Securities..............................................        6
SECTION 1.06     Transfer.......................................................        6
SECTION 1.07     Defeasance.....................................................        6
SECTION 1.08     Redemption at the Option of the Company........................        6

                                   ARTICLE II

                            MISCELLANEOUS PROVISIONS

SECTION 2.01     Recitals by the Company........................................        7
SECTION 2.02     Ratification and Incorporation of Original Indenture...........        7
SECTION 2.03     Executed in Counterparts.......................................        7
</TABLE>

-------------------------
(1) This Table of Contents does not constitute part of the Fifth Supplemental
Indenture and shall not have any bearing upon the interpretation of any of its
terms or provisions.

                                       2
<PAGE>

         THIS FIFTH SUPPLEMENTAL INDENTURE is made as of the 21st day of
November, 2003, by and between METLIFE, INC., a Delaware corporation (the
"Company"), and J.P. Morgan Trust Company, National Association (as successor to
Bank One Trust Company, N.A.), a national banking corporation, as trustee (the
"Trustee"):

         WHEREAS, the Company has heretofore entered into an Indenture, dated as
of November 9, 2001 (the "Original Indenture") with the Trustee;

         WHEREAS, the Original Indenture is incorporated herein by this
reference and the Original Indenture, as supplemented by this Fifth Supplemental
Indenture, is herein called the "Indenture";

         WHEREAS, under the Original Indenture, a new series of senior notes may
at any time be established by the Board of Directors of the Company in
accordance with the provisions of the Original Indenture and the terms of such
series may be described by a supplemental indenture executed by the Company and
the Trustee;

         WHEREAS, the Company proposes to create under the Indenture a new
series of senior notes;

         WHEREAS, additional senior notes of other series hereafter established,
except as may be limited in the Original Indenture as at the time supplemented
and modified, may be issued from time to time pursuant to the Indenture as at
the time supplemented and modified; and

         WHEREAS, all things necessary to make this Fifth Supplemental Indenture
a valid agreement of the Company, in accordance with its terms, have been done.

         NOW THEREFORE, in consideration of the agreements and obligations set
forth herein and for other good and valuable consideration, the sufficiency of
which is hereby acknowledged, the parties hereto hereby agree as follows:

                                    ARTICLE I

                    5.875% SENIOR NOTES DUE NOVEMBER 21, 2033

SECTION 1.01. Establishment.

         There is hereby established a new series of senior notes to be issued
under the Indenture, to be designated as the Company's 5.875% Senior Notes due
November 21, 2033 (the "2033 Senior Notes").

         There are to be authenticated and delivered 2033 Senior Notes,
initially limited in aggregate principal amount of $200,000,000 (or up to
$230,000,000 aggregate principal amount to the extent the Underwriters'
overallotment option pursuant to the Underwriting Agreement and the Pricing
Agreement is exercised), and no further 2033 Senior Notes shall be authenticated
and delivered except as provided by Section 2.05, 2.07, 2.11, 3.03 or 9.04

                                       3
<PAGE>

of the Original Indenture; provided, however, that the aggregate principal
amount of the 2033 Senior Notes may be increased in the future, without the
consent of the holders of the 2033 Senior Notes, on the same terms and with the
same CUSIP number as the 2033 Senior Notes. The 2033 Senior Notes shall be
issued in fully registered form.

         The 2033 Senior Notes shall be issued in the form of one or more Global
Securities in substantially the form set out in Exhibit A hereto. The Depositary
with respect to the 2033 Senior Notes shall be The Depository Trust Company.

         The form of the Trustee's Certificate of Authentication for the 2033
Senior Notes shall be substantially in the form set forth in Exhibit B hereto.

         Each 2033 Senior Note shall be dated the date of authentication thereof
and shall bear interest from the date of original issuance thereof or from the
most recent Interest Payment Date to which interest has been paid or duly
provided for.

SECTION 1.02. Definitions.

         The following defined terms used herein shall, unless the context
otherwise requires, have the meanings specified below. Capitalized terms used
herein for which no definition is provided herein shall have the meanings set
forth in the Original Indenture.

         "Interest Payment Date" means March 31, June 30, September 30 and
December 31 of each year, commencing December 31, 2003.

         "Pricing Agreement" means the Pricing Agreement, dated as of November
18, 2003, between Merrill Lynch, Pierce, Fenner & Smith Incorporated, as
representative of the Underwriters, and the Company.

         "Original Issue Date" means November 21, 2003.

         "Regular Record Date" means, with respect to each Interest Payment
Date, the close of business on the preceding March 15, June 15, September 15 or
December 15, as the case may be.

         "Stated Maturity" means November 21, 2033.

         "Underwriters" means Merrill Lynch, Pierce, Fenner & Smith
Incorporated, A.G. Edwards & Sons, Inc., Citigroup Global Markets Inc., UBS
Securities LLC, Wachovia Capital Markets, LLC, Banc of America Securities LLC,
Credit Suisse First Boston LLC, Deutsche Bank Securities Inc., J.P. Morgan
Securities Inc., Banc One Capital Markets, Inc., Blaylock & Partners, L.P., HSBC
Securities (USA) Inc., J.J.B. Hilliard, W.L. Lyons, Inc., Lehman Brothers Inc.,
Quick & Reilly, Inc., RBC Dain Rauscher Inc., Raymond James & Associates, Inc.,
U.S. Bancorp Piper Jaffray Inc., and Wells Fargo Securities, LLC.

                                       4
<PAGE>

         "Underwriting Agreement" means the Underwriting Agreement, dated as of
November 18, 2003, between Merrill Lynch, Pierce, Fenner & Smith Incorporated,
as representative of the Underwriters, and the Company.

SECTION 1.03. Payment of Principal and Interest.

         The principal of the 2033 Senior Notes shall be due at Stated Maturity.
The unpaid principal amount of the 2033 Senior Notes shall bear interest at the
rate of 5.875% per year until paid or duly provided for. Interest shall be paid
quarterly in arrears on each Interest Payment Date, commencing December 31,
2003, to the Person in whose name the 2033 Senior Notes are registered on the
Regular Record Date for such Interest Payment Date, provided that interest
payable at the Stated Maturity of principal will be paid to the Person to whom
principal is payable. Any such interest that is not so punctually paid or duly
provided for will forthwith cease to be payable to the holders on such Regular
Record Date and may be paid as provided in Section 2.03 of the Original
Indenture.

         Payments of interest on the 2033 Senior Notes will include interest
accrued to but excluding the respective Interest Payment Dates. Interest
payments for the 2033 Senior Notes shall be computed and paid on the basis of a
360-day year consisting of twelve 30-day months. In the event that any date on
which interest is payable on the 2033 Senior Notes is not a Business Day, then a
payment of the interest payable on such date will be made on the next succeeding
day that is a Business Day (and without any interest or other payment in respect
of any such delay), except that, if such Business Day is in the next succeeding
calendar year, such payment shall be made on the immediately preceding Business
Day, in each case with the same force and effect as if made on the date the
payment was originally payable.

         Payment of the principal and interest due at the Stated Maturity of the
2033 Senior Notes shall be made upon surrender of the 2033 Senior Notes at the
Corporate Trust Office of the Trustee. The principal of and interest on the 2033
Senior Notes shall be paid in such coin or currency of the United States of
America as at the time of payment is legal tender for payment of public and
private debts. Payments of interest (including interest on any Interest Payment
Date) will be made, subject to such surrender where applicable, at the option of
the Company, (i) by check mailed to the address of the Person entitled thereto
as such address shall appear in the Security Register or (ii) by wire transfer
at such place and to such account at a banking institution in the United States
as may be designated in writing to the Trustee at least 15 days prior to the
date for payment by the Person entitled thereto.

SECTION 1.04. Denominations.

         The 2033 Senior Notes may be issued in denominations of $25, or any
integral multiple thereof.

                                       5
<PAGE>

SECTION 1.05. Global Securities.

         The 2033 Senior Notes will be issued in the form of one or more Global
Securities registered in the name of the Depositary or its nominee. Except under
the limited circumstances described below, 2033 Senior Notes represented by
Global Securities will not be exchangeable for, and will not otherwise be
issuable as, 2033 Senior Notes in definitive form. The Global Securities
described above may not be transferred except by the Depositary to a nominee of
the Depositary or by a nominee of the Depositary to the Depositary or another
nominee of the Depositary or to a successor Depositary or its nominee.

         Owners of beneficial interests in such Global Securities will not be
considered the holders thereof for any purpose under the Indenture, and no
Global Security representing a 2033 Senior Note shall be exchangeable, except
for another Global Security of like denomination and tenor to be registered in
the name of the Depositary or its nominee or to a successor Depositary or its
nominee. The rights of holders of such Global Securities shall be exercised only
through the Depositary.

         A Global Security shall be exchangeable for 2033 Senior Notes
registered in the names of Persons other than the Depositary or its nominee only
as provided by Section 2.11(c) of the Original Indenture. Any Global Security
that is exchangeable pursuant to the preceding sentence shall be exchangeable
for 2033 Senior Notes registered in such names as the Depositary shall direct.

SECTION 1.06. Transfer.

         No service charge will be made for any registration of transfer or
exchange of 2033 Senior Notes, but payment will be required of a sum sufficient
to cover any tax or other governmental charge that may be imposed in connection
therewith.

SECTION 1.07. Defeasance.

         The provisions of Sections 13.02 and 13.03 of the Original Indenture
will apply to the 2033 Senior Notes.

SECTION 1.08. Redemption at the Option of the Company.

         The 2033 Senior Notes will be redeemable, at the option of the Company,
in whole at any time or in part from time to time, on or after November 21, 2008
at a redemption price equal to 100% of the principal amount of the 2033 Senior
Notes to be redeemed plus accrued and unpaid interest on the 2033 Senior Notes
to be redeemed to, but excluding, the date of redemption.

         Notwithstanding Section 3.02 of the Original Indenture, the notice of
redemption with respect to the foregoing redemption need not set forth the
Redemption Price but only the manner of calculation thereof.

                                       6
<PAGE>

         The Company shall notify the Trustee of the Redemption Price with
respect to the foregoing redemption promptly after the calculation thereof. The
Trustee shall not be responsible for calculating said Redemption Price.

         If less than all of the 2033 Senior Notes are to be redeemed, the
Trustee shall select the 2033 Senior Notes or portions of the 2033 Senior Notes
to be redeemed by such method as the Trustee deems fair and appropriate. The
Trustee may select for redemption 2033 Senior Notes and portions of 2033 Senior
Notes in amounts of $25 and whole multiples of $25.

                                   ARTICLE II

                            MISCELLANEOUS PROVISIONS

SECTION 2.01. Recitals by the Company.

         The recitals in this Fifth Supplemental Indenture are made by the
Company only and not by the Trustee, and all of the provisions contained in the
Original Indenture in respect of the rights, privileges, immunities, powers and
duties of the Trustee shall be applicable in respect of the 2033 Senior Notes
and of this Fifth Supplemental Indenture as fully and with like effect as if set
forth herein in full.

SECTION 2.02. Ratification and Incorporation of Original Indenture.

         As supplemented hereby, the Original Indenture is in all respects
ratified and confirmed, and the Original Indenture and this Fifth Supplemental
Indenture shall be read, taken and construed as one and the same instrument.

SECTION 2.03. Executed in Counterparts.

         This Fifth Supplemental Indenture may be simultaneously executed in
several counterparts, each of which shall be deemed to be an original, and such
counterparts shall together constitute but one and the same instrument.

                                       7
<PAGE>

         IN WITNESS WHEREOF, each party hereto has caused this instrument to be
signed in its name and behalf by its duly authorized officers, all as of the day
and year first above written.

                                    METLIFE, INC.

                                    By: /s/ Anthony J. Williamson
                                        ---------------------------
                                        Name: Anthony J. Williamson
                                        Title: Senior Vice President and
                                        Treasurer

                                    J.P. MORGAN TRUST COMPANY,
                                    NATIONAL ASSOCIATION

                                    By: /s/ Mary Fonti
                                        ---------------------------
                                        Name: Mary Fonti
                                        Title: Authorized Officer

                                       8
<PAGE>

                                    EXHIBIT A

                FORM OF 5.875% SENIOR NOTE DUE NOVEMBER 21, 2033

         THIS NOTE IS A GLOBAL SECURITY WITHIN THE MEANING OF THE ORIGINAL
INDENTURE HEREINAFTER REFERRED TO. UNLESS THIS CERTIFICATE IS PRESENTED BY AN
AUTHORIZED REPRESENTATIVE OF THE DEPOSITORY TRUST COMPANY ("DTC"), A NEW YORK
CORPORATION, TO METLIFE, INC. OR ITS AGENT FOR REGISTRATION OF TRANSFER,
EXCHANGE OR PAYMENT, AND ANY CERTIFICATE ISSUED IS REGISTERED IN THE NAME OF
CEDE & CO. OR IN SUCH OTHER NAME AS IS REQUESTED BY AN AUTHORIZED REPRESENTATIVE
OF DTC (AND ANY PAYMENT IS MADE TO CEDE & CO. OR TO SUCH OTHER ENTITY AS IS
REQUESTED BY AN AUTHORIZED REPRESENTATIVE OF DTC), ANY TRANSFER, PLEDGE OR OTHER
USE HEREOF FOR VALUE OR OTHERWISE BY OR TO ANY PERSON IS WRONGFUL INASMUCH AS
THE REGISTERED OWNER HEREOF, CEDE & CO., HAS AN INTEREST HEREIN.

         EXCEPT AS OTHERWISE PROVIDED IN SECTION 2.11 OF THE ORIGINAL INDENTURE,
THIS NOTE MAY BE TRANSFERRED IN WHOLE, BUT NOT IN PART, ONLY TO ANOTHER NOMINEE
OF DTC OR TO A SUCCESSOR DEPOSITARY OR TO A NOMINEE OF SUCH SUCCESSOR
DEPOSITARY.

                                      A-1
<PAGE>

No. ____                                                     CUSIP No. 59156R405

                                  METLIFE, INC.
                               5.875% Senior Note
                              Due November 21, 2033

Principal Amount:                   $200,000,000

Regular Record Date:                with respect to each Interest Payment Date,
                                    the close of business on the preceding March
                                    15, June 15, September 15 or December 15, as
                                    the case may be

Original Issue Date:                November 21, 2003

Stated Maturity:                    November 21, 2033

Interest Payment Dates:             March 31, June 30, September 30, and
                                    December 31, commencing December 31, 2003

Interest Rate:                      5.875% per year

Authorized Denomination:            $25

         MetLife, Inc., a Delaware corporation (the "Company," which term
includes any successor corporation under the Indenture referred to on the
reverse hereof), for value received, hereby promises to pay to ________, or
registered assigns, the principal sum of __________________________
($___________) on the Stated Maturity shown above, and to pay interest thereon
from the Original Issue Date shown above, or from the most recent Interest
Payment Date to which interest has been paid or duly provided for, quarterly in
arrears on each Interest Payment Date as specified above, commencing on December
31, 2003, and on the Stated Maturity at the rate per year shown above until the
principal hereof is paid or made available for payment and on any overdue
principal and on any overdue installment of interest to the extent permitted by
law. The interest so payable, and punctually paid or duly provided for, on any
Interest Payment Date (other than an Interest Payment Date that is the Stated
Maturity) will, as provided in the Indenture, be paid to the Person in whose
name this Note is registered at the close of business on the Regular Record Date
as specified above next preceding such Interest Payment Date, provided that any
interest payable at Stated Maturity will be paid to the Person to whom principal
is payable. Any such interest that is not so punctually paid or duly provided
for will forthwith cease to be payable to the holders on such Regular Record
Date and may be paid as provided in Section 2.03 of the Original Indenture.

         Payments of interest on this Note will include interest accrued to but
excluding the respective Interest Payment Dates. Interest payments for this Note
shall be computed and

                                      A-2
<PAGE>

paid on the basis of a 360-day year consisting of twelve 30-day months. In the
event that any date on which interest is payable on this Note is not a Business
Day, then payment of the interest payable on such date will be made on the next
succeeding day that is a Business Day (and without any interest or other payment
in respect of any such delay), except that, if such Business Day is in the next
succeeding calendar year, payment shall be made on the immediately preceding
Business Day, in each case with the same force and effect as if made on the date
the payment was originally payable.

         Payment of the principal of and interest due at the Stated Maturity of
this Note shall be made upon surrender of this Note at the Corporate Trust
Office of the Trustee. The principal of and interest on this Note shall be paid
in such coin or currency of the United States of America as at the time of
payment is legal tender for payment of public and private debts. Payment of
interest (including interest on an Interest Payment Date) will be made, subject
to such surrender where applicable, at the option of the Company, (i) by check
mailed to the address of the Person entitled thereto as such address shall
appear in the Security Register or (ii) by wire transfer at such place and to
such account at a banking institution in the United States as may be designated
in writing to the Trustee at least 15 days prior to the date for payment by the
Person entitled thereto.

         The Senior Notes (as defined on the reverse hereof) will be unsecured
obligations of the Company and will rank equally in right of payment with all of
the other unsecured, unsubordinated indebtedness of the Company from time to
time outstanding. The Senior Notes will rank senior to any subordinated
indebtedness of the Company.

         REFERENCE IS HEREBY MADE TO THE FURTHER PROVISIONS OF THIS NOTE SET
FORTH ON THE REVERSE HEREOF, WHICH FURTHER PROVISIONS SHALL FOR ALL PURPOSES
HAVE THE SAME EFFECT AS IF SET FORTH AT THIS PLACE.

         Unless the certificate of authentication hereon has been executed by
the Trustee by manual signature, this Note shall not be entitled to any benefit
under the Indenture or be valid or obligatory for any purpose.

                                      A-3
<PAGE>

         IN WITNESS WHEREOF, the Company has caused this instrument to be duly
executed under its corporate seal.

                                      METLIFE, INC.

                                      By:  ____________________
                                           Name:
                                           Title:

Attest:

______________________
Name:
Title:

                             [Seal of MetLife, Inc.]

                          CERTIFICATE OF AUTHENTICATION

         This is one of the 5.875% Senior Notes due November 21, 2033 referred
to in the within-mentioned Indenture.

                                      J.P. MORGAN TRUST COMPANY,
                                      NATIONAL ASSOCIATION,
                                      as Trustee

                                      By: _________________________
                                          Authorized Officer

                                      A-4
<PAGE>

                             (Reverse Side of Note)

         This Note is one of a duly authorized issue of senior notes of the
Company issued and issuable in one or more series under an Indenture dated as of
November 9, 2001 (the "Original Indenture"), as supplemented by the Fifth
Supplemental Indenture, dated as of November 21, 2003 (the "Fifth Supplemental
Indenture," and together with the Original Indenture, the "Indenture"), between
the Company and J.P. Morgan Trust Company, National Association (as successor to
Bank One Trust Company, N.A.), as trustee (the "Trustee," which term includes
any successor trustee under the Indenture), to which Indenture and all
indentures incidental thereto reference is hereby made for a statement of the
respective rights, limitations of rights, duties and immunities thereunder of
the Company, the Trustee and the holders of the Senior Notes issued thereunder
and of the terms upon which said Senior Notes are, and are to be, authenticated
and delivered. This Senior Note is one of the series designated on the face
hereof as 5.875% Senior Notes due November 21, 2033 (the "Senior Notes"),
initially limited in aggregate principal amount of $200,000,000 (or up to
$230,000,000 aggregate principal amount to the extent the Underwriters'
overallotment option pursuant to the Underwriting Agreement and the Pricing
Agreement is exercised); provided, however, that the aggregate principal amount
of the Senior Notes may be increased in the future, without the consent of the
holders of the Senior Notes, on the same terms and with the same CUSIP number as
the Senior Notes. Capitalized terms used herein for which no definition is
provided herein shall have the meanings set forth in the Indenture.

         This Note is exchangeable in whole or from time to time in part for
Senior Notes of this series in definitive registered form only as provided
herein and in the Indenture. If (i) at any time the Depositary notifies the
Company that it is unwilling or unable to continue as Depositary for this Note
or if at any time the Depositary shall no longer be registered or in good
standing under the Securities Exchange Act of 1934, as amended, or other
applicable statute or regulation, and the Company does not appoint a successor
Depositary within 90 days after the Company receives such notice or becomes
aware of such condition, as the case may be, or (ii) the Company in its sole
discretion determines that this Note shall be exchangeable for Senior Notes of
this series in definitive registered form and executes and delivers to the
Security Registrar a written order of the Company providing that this Note shall
be so exchangeable, this Note shall be exchangeable for Senior Notes of this
series in definitive registered form, provided that the definitive Senior Notes
so issued in exchange for this Note shall be in denominations of $25 and any
integral multiples, without coupons, and be of like aggregate principal amount
and tenor as the portion of this Note to be exchanged. Except as provided above,
owners of beneficial interests in this Note will not be entitled to have Senior
Notes registered in their names, will not receive or be entitled to physical
delivery of Senior Notes in definitive registered form and will not be
considered the holders thereof for any purpose under the Indenture. Neither the
Company, the Trustee, any Paying Agent nor the Security Registrar shall have any
responsibility or liability for any aspect of records relating to or payments
made on account of beneficial ownership interests in this Note, or for
maintaining, supervising or reviewing any records relating to such beneficial
ownership interests.

                                      A-5
<PAGE>

         If an Event of Default with respect to the Senior Notes shall occur and
be continuing, the principal of the Senior Notes may be declared due and payable
in the manner, with the effect and subject to the conditions provided in the
Indenture.

         The Indenture permits, with certain exceptions as therein provided, the
amendment thereof and the modification of the rights and obligations of the
Company and the rights of the holders of the Senior Notes under the Indenture at
any time by the Company and the Trustee with the consent of the holders of not
less than a majority in aggregate principal amount of the Senior Notes at the
time Outstanding. The Indenture also contains provisions permitting the holders
of specified percentages in principal amount of the Senior Notes at the time
Outstanding, on behalf of the holders of all Senior Notes, to waive compliance
by the Company with certain provisions of the Indenture and certain past
defaults under the Indenture and their consequences. Any such consent or waiver
by the holder of this Note shall be conclusive and binding upon such holder and
upon all future holders of this Note and of any Senior Note issued upon the
registration of transfer hereof or in exchange hereof or in lieu hereof, whether
or not notation of such consent or waiver is made upon this Note.

         The Indenture contains provisions for defeasance at any time of (a) the
entire indebtedness of the Company pursuant to this Note and (b) restrictive
covenants and the related Events of Default, upon compliance by the Company with
certain conditions set forth therein, which provisions apply to this Note.

         The Senior Notes will be redeemable, at the option of the Company, in
whole at any time or in part from time to time, on or after November 21, 2008 at
a redemption price equal to 100% of the principal amount of the Senior Notes to
be redeemed plus accrued and unpaid interest on the Senior Notes to be redeemed
to, but excluding, the date of redemption.

         Notwithstanding Section 3.02 of the Original Indenture, the notice of
redemption with respect to the foregoing redemption need not set forth the
Redemption Price but only the manner of calculation thereof.

         The Company shall notify the Trustee of the Redemption Price with
respect to the foregoing redemption promptly after the calculation thereof. The
Trustee shall not be responsible for calculating said Redemption Price.

         If less than all of the Senior Notes are to be redeemed, the Trustee
shall select the Senior Notes or portions of the Senior Notes to be redeemed by
such method as the Trustee deems fair and appropriate. The Trustee may select
for redemption Senior Notes and portions of Senior Notes in amounts of $25 and
whole multiples of $25.

         No reference herein to the Indenture and no provision of this Note or
of the Indenture shall alter or impair the obligation of the Company, which is
absolute and unconditional, to pay the principal of and interest on this Note at
the time, place and rate, and in the coin or currency, herein prescribed.

                                      A-6
<PAGE>

         As provided in the Indenture and subject to certain limitations therein
set forth, the transfer of this Note is registrable in the Security Register,
upon surrender of this Note for registration of transfer at the office or agency
of the Company for such purpose, duly endorsed by, or accompanied by a written
instrument of transfer in form satisfactory to the Company or the Security
Registrar and duly executed by, the holder hereof or his attorney duly
authorized in writing, and thereupon one or more new Senior Notes, of authorized
denominations and of like tenor and for the same aggregate principal amount,
will be issued to the designated transferee or transferees. No service charge
shall be made for any such exchange or registration of transfer, but the Company
will require payment of a sum sufficient to cover any tax or other governmental
charge payable in connection therewith.

         Prior to due presentment of this Note for registration of transfer, the
Company, the Trustee, any Paying Agent and the Security Registrar of the Company
or the Trustee may deem and treat the Person in whose name this Note is
registered as the absolute owner hereof for all purposes, whether or not this
Note be overdue and notwithstanding any notice of ownership or writing thereon
made by anyone other than the Security Registrar, and neither the Company nor
the Trustee nor any Paying Agent nor the Security Registrar shall be affected by
notice to the contrary.

         The Senior Notes are issuable only in registered form without coupons
in denominations of $25 and any integral multiple thereof. As provided in the
Indenture and subject to certain limitations therein set forth, Senior Notes are
exchangeable for a like aggregate principal amount of Senior Notes of a
different authorized denomination, as requested by the holder surrendering the
same upon surrender of the Senior Note or Senior Notes to be exchanged at the
office or agency of the Company.

         No recourse shall be had for payment of the principal of or interest on
this Note, or for any claim based hereon, or otherwise in respect hereof, or
based on or in respect of the Indenture, against any incorporator, stockholder,
officer or director, past, present or future, as such, of the Company or of any
predecessor or successor corporation, whether by virtue of any constitution,
statute or rule of law, or by the enforcement of any assessment or penalty or
otherwise, all such liability being, by the acceptance hereof and as part of the
consideration for the issuance hereof, expressly waived and released.

         Unless the certificate of authentication hereon has been executed by
the Trustee by manual signature, this Note shall not be entitled to any benefit
under the Indenture or be valid or obligatory for any purpose.

         This Note shall be governed by, and construed in accordance with, the
internal laws of the state of New York.

                                      A-7
<PAGE>

                                  ABBREVIATIONS

         The following abbreviations, when used in the inscription on the face
of this instrument, shall be construed as though they were written out in full
according to applicable laws or regulations:

TEN COM - as tenants in common         UNIF GIFT MIN ACT - Custodian under
                                       Uniform Gift to Minors Act

                                       __________________________
                                       (State)

TEN ENT - as tenants by the entireties

JT TEN - as joint tenants with right of
         survivorship and not as
         tenants in common

                    Additional abbreviations may also be used
                          though not on the above list.

FOR VALUE RECEIVED, the undersigned hereby sell(s) and transfer(s) unto

PLEASE PRINT OR TYPEWRITE NAME AND ADDRESS, INCLUDING POSTAL ZIP CODE OF
ASSIGNEE

________________________________________________________________________________

________________________________________________________________________________

________________________________________________________________________________
(please insert Social Security or other identifying number of assignee)

the within Note and all rights thereunder, hereby irrevocably constituting and
appointing

________________________________________________________________________________

________________________________________________________________________________

agent to transfer said Note on the books of the Company, with full power of
substitution in the premises.

Dated:   ______________               _____________________________

                                      _____________________________
                                      NOTICE: The signature to this
                                      assignment must correspond with the
                                      name as written upon the face of
                                      the within instrument in every
                                      particular without alteration
                                      or enlargement, or any change
                                      whatever.

                                      A-8
<PAGE>

                                    EXHIBIT B

                          CERTIFICATE OF AUTHENTICATION

         This is one of the 5.875% Senior Notes due November 21, 2033 referred
to in the within-mentioned Indenture.

                                         J.P. MORGAN TRUST COMPANY,
                                         NATIONAL ASSOCIATION,
                                         as Trustee

                                         By: ___________________________
                                             Authorized Officer

                                       B-1
</TEXT>
</DOCUMENT>
