<DOCUMENT>
<TYPE>EX-21
<SEQUENCE>2
<FILENAME>a2032880zex-21.txt
<DESCRIPTION>EXHIBIT 21
<TEXT>

<PAGE>
                                                                      EXHIBIT 21

                                SUBSIDIARIES OF
                              APPLE COMPUTER, INC*

<TABLE>
<CAPTION>
                                                                JURISDICTION
NAME                                                          OF INCORPORATION
----                                                          ----------------
<S>                                                           <C>
Apple Computer Inc. Limited.................................      Ireland
Apple Computer Limited......................................      Ireland
Apple Computer International................................      Ireland
Apple Japan Inc.............................................       Japan
Apple Computer B.V..........................................    Netherlands
Apple Computer (UK) Limited.................................   United Kingdom
ACI Real Properties Inc.....................................   United States
</TABLE>

------------------------

*   Pursuant to Item 601(b)(21)(ii) of Regulation S-K, the names of other
    subsidiaries of Apple Computer, Inc. are omitted because, considered in the
    aggregate, they would not constitute a significant subsidiary as of the end
    of the year covered by this report.
</TEXT>
</DOCUMENT>
